@{
    ViewBag.Title = "Watermark sample";
}

<script type="text/javascript">
    function onValueChanged(s, e) {
        $("#submitForm").submit();
    }
</script>
<div id="submitDiv">
    @using (Ajax.BeginForm("Index", "Home", new AjaxOptions
    {
        HttpMethod = "Post",
        UpdateTargetId = "submitDiv",
        InsertionMode = InsertionMode.Replace
    }, new { id = "submitForm" }))
    {
        @Html.DevExpress().CheckBox(settings =>
        {
            settings.Name = "ApplyWatermarkCheckBox";
            settings.Text = "Apply watermark:";
            settings.Properties.ClientSideEvents.ValueChanged = "onValueChanged";
            settings.Checked = (bool)ViewData["isWatermarkApplied"];
        }).GetHtml();

        @Html.DevExpress().ImageSlider(
            settings =>
            {
                settings.Name = "ImageSlider";
                settings.ShowNavigationBar = true;

                settings.SetItemTemplateContent(t =>
                {
                    if ((bool)ViewData["isWatermarkApplied"])
                    {
                        Html.DevExpress().BinaryImage(bi =>
                        {
                            byte[] image = ImageSliderWithWatermark.Code.ImageHelper.GetImageWithWatermark(
                                t.EvalDataItem("ImageUrl").ToString(),
                                "ImageSlider",
                                "Arial"
                                );
                            bi.ContentBytes = image;
                        }).Render();
                    }
                    else
                    {
                        Html.DevExpress().Image(i =>
                        {
                            i.ImageUrl = t.EvalDataItem("ImageUrl").ToString();
                        }).Render();
                    }
                });
            }
        ).BindToXML(Server.MapPath("~/App_Data/landscapes.xml"), "//items/*").GetHtml()
    }
</div>